/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin-left: auto;
	margin-right: auto;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	position: absolute;
	
}

/* Your code starts here! */
@keyframes stretch{
	0%   {color: red;}
	10%  {color:black;}
	20%  {color:white;}
	25%  {color: yellow;}
	35%  {color:rosybrown;}
	45%  {color:red;}
	50%  {color: blue;}
	60%  {color:yellow;}
	70%  {color:teal;}
	80%  {color:white;}
	90%  {color:black;}
	100% {color: green;}
  }

 header nav a {
color: grey;
text-decoration: overline;
margin: 25px;
background-color: black;
 }

header nav a:hover {

animation-name: stretch;
animation-duration: 1s;
animation-iteration-count: infinite;
}

 .logo {
	 position: absolute;
	 left: 675px;
	 top: 0px;
	 height: 20px;
 }
 header h1 {
	font-size: 60px;
 }
 .iod1 {
	 position: absolute;
	 left: 200px;
	 top: 75px;
 }
 .iod2 {
	position: absolute;
	left: 280px;
	top: 135px;
}
.iod3 {
	position: absolute;
	left: 225px;
	top: 190px;
}
.circle {
	position: absolute;
	left: 500px;
	top: 40px;
	height: 300px;
}

button {
	position: absolute;
	top: 260px;
	left: 265px;
}

footer{
	position: absolute;
	bottom: 150px;
}

.feats{
	top: 375px;
	left: 25px;
}

.about{
	top: 375px;
	left: 500px;
}

.c1 {
	position: absolute;
	left: 25px;
	top: 400px;
	width: 375px;
}

.c2 {
	position: absolute;
	left: 500px;
	top: 400px;
	width: 375px;
}

.middle-img {
	position: absolute;
	top: 475px;
	left: 25px;
	height: 175px;
}

.services {
	position: absolute;
	top: 700px;
	left: 25px;
}

.c3 {
	position: absolute;
	top: 725px;
	width: 250px;
	left: 25px;
}

.product {
	position: absolute;
	top: 700px;
	left: 350px;
}

.c4 {
	position: absolute;
	top: 725px;
	left: 350px;
	width: 250px;
}

.vision {
	position: absolute;
	top: 700px;
	left: 650px;
}

.c5 {
	position: absolute;
	top: 725px;
	left: 650px;
	width: 250px;
}

footer {
	position: absolute;
	bottom: 10px;
	left: 425px;
}

.contact{
	position: absolute;
	bottom: 110px;
	left: 25px;
}

.add {
	position: absolute;
	bottom: 100px;
	left: 25px;
}

.loc {
	position: absolute;
	bottom: 85px;
	left: 27px;
}

.num {
	position: absolute;
	bottom: 60px;
	left: 25px;
}

.email {
	text-align: center;
	position: absolute;
	bottom: 35px;
	left: 25px;
}

.line1 {
	position: absolute;
	background: transparent;
	top: 335px;
	height: 50px;
	width: 900px;
}

.line2 {
	
	position: absolute;
	background: transparent;
	top: 650px;
	height: 50px;
	width: 900px;
}